@{
    ViewData["Title"] = "Admin Panel";
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div style="font-family: monospace; padding: 20px;">
    <h1 class="text-danger">Admin Panel</h1>
    <p>Access granted. You have admin role privileges.</p>
    <hr/>

    <a href="/">Home</a>
    <a asp-controller="Account" asp-action="Logout">Logout</a>
</div>
</body>
</html>