@{
    ViewData["Title"] = "Access Denied";
}

<!DOCTYPE html>

<html>
<head>
    <title>Access Denied</title>
</head>
<body>
<div style="font-family: monospace; padding: 20px;">
    <h1 style="color: red;">Access Denied</h1>
    <p>You don't have permissions to access this area.</p>
    <div>
        <a href="/">Back to home page</a>
    </div>
</div>
</body>
</html>